:root {
    /* Light theme colors */
    --background-color: white;
    --div-color: white;
    --text-color: black;
    --avatar-border-color: wheat;
    --avatar-bg-color: wheat;
    --avatar2-border-color: lightblue;
    --avatar2-bg-color: lightblue;
    --shadow-color: #d9d9d9;
    --link-color: magenta;
    --subtitle-color: #81899c;
    --list-color: #AFAFAF;
    --strike-color: red;
    --list-check-color: green;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme colors */
        --background-color: hsl(226, 23%, 11%);
        --div-color: hsl(226, 23%, 14%);
        --text-color: #c5c5c5;
        --avatar-border-color: wheat;
        --avatar-bg-color: wheat;
        --avatar2-border-color: lightblue;
        --avatar2-bg-color: lightblue;
        --shadow-color: #000000;
        --link-color: magenta;
        --subtitle-color: #81899c;
        --list-color: #AFAFAF;
        --strike-color: red;
        --list-check-color: green;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

.examples-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: left !important;
}

.example {
    margin-right: 20px;
    margin-left: 20px;
}

.dontdothis, .trythis {
    font-size: 24px;
    background-color: var(--div-color);
    border-radius: 10px;
    box-shadow: -20px 20px 60px var(--shadow-color);
    width: 400px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}

.avatar, .avatar2 {
    border: 1px solid;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
}

.avatar {
    border-color: var(--avatar-border-color);
    background-color: var(--avatar-bg-color);
}

.avatar2 {
    border-color: var(--avatar2-border-color);
    background-color: var(--avatar2-bg-color);
}

.bold {
    font-weight: 900;
}

.examples {
    margin-top: 50px;
    padding: 20px;
    width: 838px;
    text-align: left;
    font-size: 20px;
    box-shadow: -20px 20px 60px var(--shadow-color);
    background-color: var(--div-color);
}

footer {
    box-shadow: -20px 20px 60px var(--shadow-color);
    overflow: hidden;
    bottom: 0;
    width: 838px;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--div-color);
}

footer a {
    color: var(--link-color);
}

.examples2 {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 64px;
}

.subtitle {
    color: var(--subtitle-color);
    font-size: 24px;
    font-weight: 300;
    margin-top: -50px;
}

li {
    list-style-type: none;
    color: var(--list-color);
}

li::before {
    content: '✓';
    padding-right: 10px;
    color: var(--list-check-color);
    font-weight: 900;
    font-size: 13px;
}

.lead {
    font-weight: 300;
    font-size: 45px;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: var(--strike-color);
    text-decoration-thickness: 10px;
}

#cursor {
    display: inline-block;
    opacity: 1;
    margin-left: -8px;
}

#egg {
    text-decoration: none;
    color: var(--subtitle-color);
    cursor: text;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    /* Add a global box-sizing rule */
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        justify-content: center;
        overflow-x: hidden; /* Hide horizontal overflow */
        overflow-y: auto; /* Allow vertical overflow */
    }

    .examples-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: left !important;
        flex-wrap: wrap; /* Allow items to wrap on small screens */
    }

    .example {
        margin-right: 20px;
        margin-left: 20px;
    }

    .dontdothis, .trythis {
        font-size: 24px;
        background-color: var(--div-color);
        border-radius: 10px;
        box-shadow: -20px 20px 60px var(--shadow-color);
        width: 100%; /* Set width to 100% of the parent container */
        max-width: 400px; /* Ensure it doesn't exceed 400px */
        height: auto;
        padding: 10px;
        margin-top: 10px;
    }

    .avatar, .avatar2 {
        border: 1px solid;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        float: left;
        margin-right: 20px;
    }

    .avatar {
        border-color: var(--avatar-border-color);
        background-color: var(--avatar-bg-color);
    }

    .avatar2 {
        border-color: var(--avatar2-border-color);
        background-color: var(--avatar2-bg-color);
    }

    .bold {
        font-weight: 900;
    }

    .examples {
        padding: 20px;
        max-width: 100%; /* Ensure it doesn't exceed viewport */
        width: 100%; /* Set width to 100% of the parent container */
        max-width: 838px; /* Ensure it doesn't exceed 838px */
        text-align: left;
        font-size: 20px;
        box-shadow: -20px 20px 60px var(--shadow-color);
        background-color: var(--div-color);
    }

    footer {
        box-shadow: -20px 20px 60px var(--shadow-color);
        overflow: hidden;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 40px;
        margin-top: 100px;
        background-color: var(--div-color);
    }

    footer a {
        color: var(--link-color);
    }

    .examples2 {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        color: var(--subtitle-color);
        font-size: 24px;
        font-weight: 300;
        margin-top: -50px;
    }

    li {
        list-style-type: none;
        color: var(--list-color);
    }

    li::before {
        content: '✓';
        padding-right: 10px;
        color: var(--list-check-color);
        font-weight: 900;
        font-size: 13px;
    }

    .lead {
        font-weight: 300;
        font-size: 45px;
    }

    .strike {
        text-decoration: line-through;
        text-decoration-color: var(--strike-color);
        text-decoration-thickness: 10px;
    }

    #cursor {
        display: inline-block;
        opacity: 1;
        margin-left: -8px;
    }

    #egg {
        text-decoration: none;
        color: var(--subtitle-color);
        cursor: text;
    }

    .dontdothis, .trythis {
        width: 100%;
        max-width: 100%;
    }

    .examples {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 20px;
    }

    .lead {
        font-size: 32px;
    }
}

.fade-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}
